<a href="https://colab.research.google.com/github/sayomariarizette/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [6]:
x = 2
y = 5

if x>y:
  print("Five is greater than two")

Python Comments

In [4]:
#This is a comment
print("Hello World")

Hello World

Python Variable

In [12]:
z = 1
a, b = 0,-1
c = "Sally"
print(a)
print(b)
print(z)
print(c)

0
-1
1
Sally

Casting

In [13]:
b = 'sally'
b = int(4)
b= float(4)
print(b)

4.0

Type() function

In [14]:
b = 'sally'
b = int(4)
b= float(4)
print(type(b))

<class 'float'>

Double or Single Quote

In [15]:
v = "Sally"
q = 'Sally'
print(v)
print(q)

Sally
Sally

Multiple Variables

In [18]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

Single Value to Multiple Variables

In [22]:
x = y =z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [24]:
x = "enjoying"
print("Python programming is" + " "+ x)

Python programming is enjoying

Arithmetic Operations

In [30]:

x = 10
y = 3
#Exponentiation
x**2
#Division
x/y
#Floor Division
x//y
#Modulo
x%y

1

Assignment Operator

In [31]:
x = 3
x*=3 # x = x*3
print(x)

9

Comparison Operator

In [32]:
x = 5
y = 2

x>y

True

Logical Operator

In [37]:
x = 5
y = 2

not(x>y)

False

Bitwise Operator

In [39]:
#decimal to binary
#10 = 1010

x = 10
print(x<<1)

20

Application 1

In [46]:

#Application 1
#Develop a python program that will compute three different
#area of shapes(e.g. Square, Rectangle, Circle, etc. Choose only 3)

01
02